* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background: #f8f8f8;
    color: #1d1d1f;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  NAV BAR WITH HERO SECTION  */


.hero {
    width: 100%;
    height: 100px;
    background-color: #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 400px;
    /* border-bottom: 2px solid gray; */
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.473);
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    z-index: 1000;
}

.nav {
    width: 1200px;
    height: 40px;
    padding-top: 25px;
    background-color: #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;




}

.hero .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 45px;
    position: absolute;
    top: 0px;
}

/* NAV DIV P  */
.hero .nav p {

    font-size: 12px;
    font-weight: 400;
    color: #000;
}

/*  NAV BAR ICONS  */


.nav i {
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;

}

/* NAV BAR APPLE TEXT Container */


.container-1 {
    width: 200px;
    height: 35px;
    max-width: 960px;
    margin-top: 35px;



}



.container-1 h1 {
    font-size: 21px;
    font-weight: 600;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/*  NAB BAR BUTOONS AND TEXT  */

.buttons {
    width: 450px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 20px;


}

.buttons p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 20px;


}

.btn {
    font-size: 12px;
    font-weight: 400;
    padding: 1px 10px;
    border: 1px solid black;
    border-radius: 999px;
    background: #fff;
    color: #000;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #ddd;
    background: black;
    color: white;

}

.btn-outline {
    font-size: 12px;
    font-weight: 400;
    padding: 1px 20px;
    border-radius: 999px;
    background: #0076DF;
    color: #fff;
}


/* CENTER CONTAINER AND MODAL IMAGE Section Styles */


.container-2 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    padding-bottom: 230px;
    /* padding-top: 120px; Add this to push content below navbar */
}

.container-2 img {

    padding-top: 0px;
    width: 800px;
    height: fit-content;

}

/*  VISION PRO TEXT  */

.container-2 .vision-pro {
    width: 386px;
    /* background-color: #0071e3; */
    position: absolute;
    top: 480px;

}

/*  CENTER CONTAINER A-TAG WITH TEXT MODAL IMAGE */

.a-tag {
    width: 350px;
    height: fit-content;
    /* background-color: #0076DF; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 570px;


}

.a-tag a {
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 90, 0);
}

.a-tag a:hover {
    cursor: pointer;
    text-decoration: underline;

}


.section.light {
    padding-top: 150px;
    background: #FFFFFF;
    color: #1d1d1f;
}